.content {
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 60px auto 40px;
    height: 100vh;
}
.header {
    grid-area: header;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
 
}
.sidebar {
    text-align: center;
    grid-area: sidebar;
    background: #00ccff;
    color: white;
    text-align: center;
    padding: 10px;
}
.main {
    text-align: center;
    grid-area: main;
    background: #00ff15;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer {
    text-align: center;
    grid-area: footer;
    background: #ff0000;
    color: white;
    text-align: center;
    padding: 10px;
}
